<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">

  <title>Anfarisa Restaurant</title>
</head>
<body>
<a href="#mainContent" class="skip-link">Menuju ke konten</a>
<header class="app-bar">
  <img class="app-bar__logo" src="/logo.png" alt="logo">
    <button id="hamburgerButton" class="app-bar__menu">
      <span id="hamburgerIcon" class="material-symbols-outlined">menu</span>
    </button>
  <nav id="navigationDrawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="#/favorite">Favorite</a></li>
      <li class="nav__item"><a href="https://github.com/rifkyhilman">About Us</a></li>
    </ul>
  </nav>
</header>
<main id="mainContent"></main>
<footer>
  <p>Copyright &copy; 2023 - Anfarisa Restaurant</p>
</footer>
</body>
</html>